.button {
	display: block;/* type de bouton */
	height: 50px; /* taille hauteur */
	width: 150px;  /* taille largueur */
	background: #7FFF00; /* couleur derrière le texte */
	border: 2px solid rgba(0, 0, 0, 0.59);
  color: rgb(0,0,0); /* couleur police (noir) */
	text-align: center; /* positionnement */
	font: bold 1.6em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; /*  police ; taille et position */
	-khtml-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 50px;
  -webkit-box-shadow: 0 8px 0 #1b383b;
	-moz-box-shadow: 0 8px 0 #1b383b;
<<<<<<< HEAD 
	box-shadow: 0 8px 0 #1b383b;  /* ombre du bouton */
	position: relative;
	right: -1000px;
	top: -100px;  /* position du bouton */
}

body {
	background-image: url("background.gif"); /* arrière plan des pages */
}	


#menu-demo2, #menu-demo2 ul{ /* code css du menu défilement - la liste*/  
padding:0; /* espace autour de l'objet de 0 */
margin:0; /* marge autour de l'objet = 0 */
list-style:none;
text-align:center; /* aligner les textes (==> les boutons aussi) au centre */
}
#menu-demo2 li{ 
display:inline-block; /* type de l'objet : block par défault */
position:relative; /* position */
border-radius:8px 8px; /* Taille des bords ==> change la forme ; cercle p.ex si plus grand */
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s; /* vitesse d'affichage / transition des menus */
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:15em; /* taille max de l'objet ; 15 x taille du font */
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:nth-child(2){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menu-demo2 li:nth-child(3){
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu-demo2 li:last-child{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#2A2333;
}
#menu-demo2 li:nth-child(2) li{
background:#333A40;
}
#menu-demo2 li:nth-child(3) li{
background:#9F391A;
}
#menu-demo2 li:last-child li{
background:#677F35;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#65537A;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#F6AD1A;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#CFFF6A;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:128px 128px; /* taille des menu principaux */
color:#fff;
font-family:arial; 
}
#menu-demo2 ul a{
padding:8px 0; /* espace autour du texte du sous menu */
} 
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;  /* même propriétés que l'élément plus haut */
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}

/* Propriétés du tableau */
table {
    border-collapse: collapse; /* séparation des lignes fusionner =/= separate */
    width: 100%; /* taille du tableau sur la page */
}

th, td {
    text-align: left; /* aligner le texte à gauche */
    padding: 8px; /* autour du texte laisser 8px - case de saisie +/- */
}

tr:nth-child(even){background-color: #f2f2f2} /* un tr sur 2 a la couleur f2f2f2 (+/- blanc) */

th {
    background-color: black; /* arrière plan des th (titres) ==> noir */
    color: white; /* couleur d'écriture des th (titre) ==> blanc */
	text-align:center; /* centrer le texte des th (titres)*/
	Font-size: 20pt /* taille de police des th (titres) */
}

